Automate_Business.json
{
  "name": "Automate_Business",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        -256
      ],
      "id": "6dd52757-24f6-4d1a-adec-38c1b8f96dd3",
      "name": "Telegram Trigger",
      "webhookId": "dd505324-c07f-4072-ba9a-7fdfe4ed2c92",
      "credentials": {
        "telegramApi": {
          "id": "qhCQrZyBu1GQV21g",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "## Overview\nYou are an AI scheduling assistant for a business owner. Your job is to manage employee meeting requests through Telegram, verify employee data from Google Sheets, check calendar conflicts, send confirmations, and notify employees. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Telegram Trigger: Receive meeting requests\n- Google Gemini Chat Model: Understand scheduling requests\n- Simple Memory: Store temporary confirmation state\n- Employee_DataBase: Find employee details from Google Sheets\n- Google Calendar: Check conflicts and create meetings\n- Employee_Notification: Send meeting email invitations\n- Telegram Send Message: Notify owner with updates\n\n## Rules\n- Always confirm meeting details before scheduling\n- Check calendar conflicts before creating events\n- Return concise responses only\n\n## Instructions\n1) Extract employee name, date, time, and purpose\n2) Search employee details in Google Sheets\n3) Ask owner for confirmation\n4) After confirmation, check Google Calendar conflicts\n5) Create calendar event and meeting link\n6) Email employee invitation details\n7) Notify owner on Telegram with final status\n\n## Examples\nInput: \"Schedule a meeting with Ahmed tomorrow at 3 PM\"\n- Action: Search employee database and ask for confirmation\n- Output: \"Confirm meeting with Ahmed tomorrow at 3 PM?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        -256
      ],
      "id": "2f1eb972-759b-4ca6-bdfd-a63bdabb4ca2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -336,
        -48
      ],
      "id": "a6cefa24-9bfc-451a-9769-8ac548ab54da",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hfXOueINQQhPjvGs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        -48
      ],
      "id": "b39f5d06-49ca-4a7a-8f1d-b375751873d3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -256
      ],
      "id": "ea4c0c15-a532-4719-983d-a3c1d61e18de",
      "name": "Send a text message",
      "webhookId": "978d2a04-6f2b-455c-bf22-1a52cc977cd0",
      "credentials": {
        "telegramApi": {
          "id": "qhCQrZyBu1GQV21g",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "=shada3779@gmail.com",
          "mode": "id"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        368,
        -48
      ],
      "id": "9a98f1d8-99aa-4304-9d88-4d7a9fc1ed20",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "U1Nm0P5nifolSZXi",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        208,
        -48
      ],
      "id": "3dac3dc2-414e-4ddd-b51d-82edbae8d6da",
      "name": "Employee_Notification",
      "webhookId": "aaa593b1-6f11-4f24-8b83-0ebd0035827d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Zsm9bj9dNzAymdDf",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1R0QkKLX_aHn1YEQ_imdWIxzJjHCwdELX7Ps4W_QH-P8",
          "mode": "list",
          "cachedResultName": "Employee_Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R0QkKLX_aHn1YEQ_imdWIxzJjHCwdELX7Ps4W_QH-P8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R0QkKLX_aHn1YEQ_imdWIxzJjHCwdELX7Ps4W_QH-P8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        48,
        -48
      ],
      "id": "9659f8fb-c7b3-43a2-a19e-d507c3968606",
      "name": "Employee_DataBase",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YdYm3Z1EtSw5fmQy",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Employee_Notification": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Employee_DataBase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d6339a0b-caf5-4bd7-b5f4-aeb30ab0a18e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b80bc9a9d433e81c931608bdc99b067f17a893a2ce015573bd19150e4272bb89"
  },
  "id": "yAG0cubvR0k1D5Le",
  "tags": []
}