Full_RAG_Chatbot1.json
{
  "name": "Full_RAG_Chatbot1",
  "nodes": [
    {
      "parameters": {
        "content": "## Insert Document From Google Drive to Vector Databse\n",
        "height": 704,
        "width": 1728
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4784,
        -368
      ],
      "id": "31fc0507-e5ac-40a8-b7b0-9f619f111a79",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17In3vywekl2lZw0blENBBqAvtgmFRBjz",
          "mode": "list",
          "cachedResultName": "Apple",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17In3vywekl2lZw0blENBBqAvtgmFRBjz"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -4672,
        -288
      ],
      "id": "3b1090a3-afc1-41f9-a75b-02ca3f326a60",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lHV2V06duMA1b9xr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.File_Id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4192,
        -288
      ],
      "id": "e46fce2a-ef88-440f-9832-86c8fd07df4b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lHV2V06duMA1b9xr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-apple-reports1",
          "mode": "list",
          "cachedResultName": "n8n-apple-reports1"
        },
        "embeddingBatchSize": 2,
        "options": {
          "pineconeNamespace": "={{ $json.File_Name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -3504,
        -288
      ],
      "id": "4a711eb2-ea45-4317-adb5-d39bf27b1190",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "74Jzakz6TU30l7LV",
          "name": "Pinecone account 4"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-mpnet-base-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -3632,
        -64
      ],
      "id": "55285b26-41d1-4e91-b117-6f5507623fe9",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "d5OcLyKmPNWl2tHU",
          "name": "Hugging Face account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4688,
        32
      ],
      "id": "1261cc73-e264-4954-aa84-202b9cacc7e3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.File_Id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4144,
        144
      ],
      "id": "92216d90-2d9d-4592-94cf-d5578ebf8844",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lHV2V06duMA1b9xr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "17In3vywekl2lZw0blENBBqAvtgmFRBjz",
            "mode": "list",
            "cachedResultName": "Apple",
            "cachedResultUrl": "https://drive.google.com/drive/folders/17In3vywekl2lZw0blENBBqAvtgmFRBjz"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4496,
        -80
      ],
      "id": "0dcac738-64fd-40f5-8b55-36999a93487f",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lHV2V06duMA1b9xr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Read from VDB and answer user queries\n",
        "height": 1072,
        "width": 1472
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2976,
        -368
      ],
      "id": "78878f16-962e-499f-9704-3870a116ee21",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI assistant specialized in analyzing Apple's quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1.\n\nDeliver quick, reliable insights into Apple's quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2384,
        -224
      ],
      "id": "d0862e77-89a7-464c-8c40-3f679200b770",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2896,
        -224
      ],
      "id": "6c9fa4f1-7031-43cf-86a7-5454069bedfb",
      "name": "When chat message received",
      "webhookId": "1e382e34-3e9e-41b2-9d0a-8f935eb9bc30"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-mpnet-base-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -2544,
        480
      ],
      "id": "a0480a46-d78a-45a8-a470-61d82e28a868",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "d5OcLyKmPNWl2tHU",
          "name": "Hugging Face account 4"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns documents related to Apple Q1 reports, including financials, out-of-book, margins, and all key details from the earnings reports"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -2224,
        16
      ],
      "id": "99ebba16-ab69-4891-8a15-014795adc136",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3936,
        -48
      ],
      "id": "70303426-5cab-48b0-8bcd-fde837e37f04",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b883d56-054c-43cd-b9d4-f6812a312d5d",
              "name": "File_Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "183dbe9c-31dc-40d6-aa0a-e8eab2af487e",
              "name": "File_Id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4320,
        32
      ],
      "id": "5157f2dc-c083-45ad-b0e1-88da23d3c3f6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "={{ $json.name }}",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -3392,
        -48
      ],
      "id": "34b8053a-2ce2-41f6-8cfb-2ec4e0533ddd",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -3472,
        160
      ],
      "id": "bb4a6a33-cbc4-4c47-89df-03d1c0cb2de6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c30377b8-3e4c-4d9e-b3c1-dfc604a7e1ab",
              "name": "File_Name",
              "value": "={{ $json[\"chatInput\"].match(/Q[1-4]/i) ? ($json[\"chatInput\"].match(/Q[1-4]/i)[0].toUpperCase() + \".pdf\").trim() : \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2656,
        -224
      ],
      "id": "b18e6c18-6976-4e71-b3da-ad1e11957be7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2528,
        -16
      ],
      "id": "d2eb636e-d63f-4533-aa1e-24f62bb42bfc",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Ymqbx5hkDqnGNp1r",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2048,
        240
      ],
      "id": "8a0483bf-b0d8-42ff-8e9c-b991d6f44685",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "Ymqbx5hkDqnGNp1r",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-apple-reports1",
          "mode": "list",
          "cachedResultName": "n8n-apple-reports1"
        },
        "options": {
          "pineconeNamespace": "={{ $json.File_Name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -2416,
        240
      ],
      "id": "03c4c37d-40c3-41f6-a536-3a8c8f192859",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "74Jzakz6TU30l7LV",
          "name": "Pinecone account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b883d56-054c-43cd-b9d4-f6812a312d5d",
              "name": "File_Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "183dbe9c-31dc-40d6-aa0a-e8eab2af487e",
              "name": "File_Id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4416,
        -288
      ],
      "id": "a64530a8-ab67-45e9-8350-bca479f2c787",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "55ee7cc5-9394-4e12-bccd-0ef993ef3919",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21f59ba9c4e1279d53145fb3ff04089def2d0a139ced563bbc326faa8356c1f4"
  },
  "id": "DGdgzkTKsbjRZuC0",
  "tags": []
}