Pending_Invoices.json
{
  "name": "Pending_Invoices",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Wjin-O3CDJ4TeD9d3bOZDazXwxRNV9qPi4YVNSvJ9SY",
          "mode": "list",
          "cachedResultName": "Pending_Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wjin-O3CDJ4TeD9d3bOZDazXwxRNV9qPi4YVNSvJ9SY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 961324560,
          "mode": "list",
          "cachedResultName": "اكتبلي كل البيانات الي بالجدول وابعتلي اياها",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wjin-O3CDJ4TeD9d3bOZDazXwxRNV9qPi4YVNSvJ9SY/edit#gid=961324560"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        -144
      ],
      "id": "6d68c1d0-c994-4d2e-b415-74086c333544",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YudyGBcYBPrALXba",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce619fdf-56f5-42bb-8d30-364fc73d86d9",
              "leftValue": "={{ $json.TotalAmount }}",
              "rightValue": 2500,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "c6a831ec-5aa7-47d6-923b-2f3df609802f",
              "leftValue": "={{ $json.PaymentStatus }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        -144
      ],
      "id": "451caec0-149d-482c-a66f-53e4ff0eaca0",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Country }}",
                    "rightValue": "Egypt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a205620f-25cf-409a-9613-99d54b05295e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Egypt Team"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b95e8a87-7bec-44cd-b52b-fce457e95ac5",
                    "leftValue": "={{ $json.Country }}",
                    "rightValue": "KSA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KSA Team"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        -240
      ],
      "id": "bcc231ee-ad5e-41b5-86db-4d5a6e3e72dd",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "shada3779@gmail.com",
        "subject": "Egypt-Pending_Invoices",
        "message": "=Hello Egypt Team,\n\nKindly find the below details\n{{ $json.htmlOutput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -336
      ],
      "id": "3000ea0d-8db8-4116-a5f5-98a33382f3a7",
      "name": "Send a message",
      "webhookId": "a696e8a3-606c-4cb3-abc6-e46990b0b37d",
      "credentials": {
        "gmailOAuth2": {
          "id": "YI2h8rpdJdzGk3pn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. استحضار جميع البيانات المدخلة\nconst items = $input.all();\n\n// 2. تنسيق رأس الجدول (Headers)\nconst headers = [\n  \"Order ID\", \"Client Name\", \"Email\", \"Total Amount\", \n  \"Status\", \"Email Type\", \"Priority\", \"Country\"\n];\n\n// 3. بناء هيكل الجدول وتنسيقه (CSS) ليكون متوافقاً مع صناديق البريد\nlet tableHtml = `\n<table style=\"width: 100%; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <thead>\n    <tr style=\"background-color: #2c3e50; color: #ffffff; text-align: left;\">\n      ${headers.map(h => `<th style=\"padding: 12px; border: 1px solid #ddd;\">${h}</th>`).join('')}\n    </tr>\n  </thead>\n  <tbody>\n`;\n\n// 4. توليد الصفوف بناءً على أسماء الأعمدة المحددة\nfor (const item of items) {\n  const data = item.json;\n  tableHtml += `\n    <tr style=\"border-bottom: 1px solid #eee;\">\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.OrderID || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.ClientName || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.Email || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">$${data.TotalAmount || '0'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.PaymentStatus || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.EmailType || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.Priority || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.Country || '-'}</td>\n    </tr>\n  `;\n}\n\n// 5. إغلاق الجدول\ntableHtml += `\n  </tbody>\n</table>\n`;\n\n// 6. إرجاع النتيجة النهائية\nreturn {\n  htmlOutput: tableHtml\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -336
      ],
      "id": "c97598e3-c103-404b-95ea-2b195ec64c50",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "shada3779@gmail.com",
        "subject": "KSA-Pending_Invoices",
        "message": "=Hello KSA Team, \nKindly find the below details\n\n {{ $json.htmlOutput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        -160
      ],
      "id": "a68aec08-8372-4bd3-8f00-441d77e133af",
      "name": "Send a message2",
      "webhookId": "780fc162-5328-4885-95c5-17703a9a013c",
      "credentials": {
        "gmailOAuth2": {
          "id": "YI2h8rpdJdzGk3pn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. استحضار جميع البيانات المدخلة\nconst items = $input.all();\n\n// 2. تنسيق رأس الجدول (Headers)\nconst headers = [\n  \"Order ID\", \"Client Name\", \"Email\", \"Total Amount\", \n  \"Status\", \"Email Type\", \"Priority\", \"Country\"\n];\n\n// 3. بناء هيكل الجدول وتنسيقه (CSS) ليكون متوافقاً مع صناديق البريد\nlet tableHtml = `\n<table style=\"width: 100%; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <thead>\n    <tr style=\"background-color: #2c3e50; color: #ffffff; text-align: left;\">\n      ${headers.map(h => `<th style=\"padding: 12px; border: 1px solid #ddd;\">${h}</th>`).join('')}\n    </tr>\n  </thead>\n  <tbody>\n`;\n\n// 4. توليد الصفوف بناءً على أسماء الأعمدة المحددة\nfor (const item of items) {\n  const data = item.json;\n  tableHtml += `\n    <tr style=\"border-bottom: 1px solid #eee;\">\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.OrderID || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.ClientName || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.Email || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">$${data.TotalAmount || '0'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.PaymentStatus || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.EmailType || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.Priority || '-'}</td>\n      <td style=\"padding: 10px; border: 1px solid #ddd;\">${data.Country || '-'}</td>\n    </tr>\n  `;\n}\n\n// 5. إغلاق الجدول\ntableHtml += `\n  </tbody>\n</table>\n`;\n\n// 6. إرجاع النتيجة النهائية\nreturn {\n  htmlOutput: tableHtml\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -160
      ],
      "id": "6b98fe01-a1f2-4b1d-84dd-eba89bded10b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        -144
      ],
      "id": "345a0ed8-4b41-4f15-8f13-c21d0737de62",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Wjin-O3CDJ4TeD9d3bOZDazXwxRNV9qPi4YVNSvJ9SY",
          "mode": "list",
          "cachedResultName": "Pending_Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wjin-O3CDJ4TeD9d3bOZDazXwxRNV9qPi4YVNSvJ9SY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 961324560,
          "mode": "list",
          "cachedResultName": "اكتبلي كل البيانات الي بالجدول وابعتلي اياها",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wjin-O3CDJ4TeD9d3bOZDazXwxRNV9qPi4YVNSvJ9SY/edit#gid=961324560"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Email Send": "Done"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "OrderID",
              "displayName": "OrderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ClientName",
              "displayName": "ClientName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TotalAmount",
              "displayName": "TotalAmount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PaymentStatus",
              "displayName": "PaymentStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EmailType",
              "displayName": "EmailType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Send",
              "displayName": "Email Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -416
      ],
      "id": "c389a31b-3392-49de-aafa-685b8f550c81",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YudyGBcYBPrALXba",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1fd10b91-2c63-4acb-964b-7e1ab74e0ca0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21f59ba9c4e1279d53145fb3ff04089def2d0a139ced563bbc326faa8356c1f4"
  },
  "id": "lnqlvgnnHZajHLXX",
  "tags": []
}