RAG_Chatbot.json
{
  "name": "RAG_Chatbot copy",
  "nodes": [
    {
      "parameters": {
        "content": "## Insert Document From Google Drive to Vector Databse\n",
        "height": 560,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3648,
        128
      ],
      "id": "b28e0519-5c4e-4c1a-952d-ba02ea05e1df",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17In3vywekl2lZw0blENBBqAvtgmFRBjz",
          "mode": "list",
          "cachedResultName": "Apple",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17In3vywekl2lZw0blENBBqAvtgmFRBjz"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -3584,
        224
      ],
      "id": "373c29c1-d23a-4489-8dc0-5431a1758590",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lHV2V06duMA1b9xr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3360,
        224
      ],
      "id": "f152a2d5-fc09-4973-949d-4c3df8371bc5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lHV2V06duMA1b9xr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-apple-reports",
          "mode": "list",
          "cachedResultName": "n8n-apple-reports"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "Apple"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -3024,
        224
      ],
      "id": "a30ecf25-d088-4444-a5f5-6d4a7a2bdb60",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "mwAjWcBHfWdS5HBk",
          "name": "Pinecone account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-mpnet-base-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -3136,
        464
      ],
      "id": "d21c9696-501b-4cfe-a7c7-ffbfdca8c8cb",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "d5OcLyKmPNWl2tHU",
          "name": "Hugging Face account 4"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=n8nRAG",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -2912,
        464
      ],
      "id": "c33962e0-80c6-495d-85c8-3de93f484363",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant specialized in analyzing Apple's quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1\n\nDeliver quick, reliable insights into Apple's quarterly financials without adding unnecessary details.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2272,
        160
      ],
      "id": "5d7a643a-3b87-4776-960e-a9ec5cadeafb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## Read from VDB and answer user queries\n",
        "height": 816,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2592,
        48
      ],
      "id": "9cb781eb-1a2b-4ca8-b3dc-89eaf0c94954",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2544,
        160
      ],
      "id": "18bbca55-2294-426a-a86a-d649444f08d9",
      "name": "When chat message received",
      "webhookId": "d0a923b5-8196-45c6-8bfe-e551949de4eb"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2224,
        384
      ],
      "id": "81be6bca-ace0-4d4d-9240-c77b990d3166",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Returns documents related to Apple Q1 reports, including financials, out-of-book, margins, and all key details from the earnings reports"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -2016,
        336
      ],
      "id": "74b03ef7-4cbd-4948-84a0-795202df2e09",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-apple-reports",
          "mode": "list",
          "cachedResultName": "n8n-apple-reports"
        },
        "options": {
          "pineconeNamespace": "Apple"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -2144,
        544
      ],
      "id": "b2ede686-7fc7-44b2-80f1-c911eec31954",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "mwAjWcBHfWdS5HBk",
          "name": "Pinecone account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-mpnet-base-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -2288,
        688
      ],
      "id": "913e7b49-2eb2-44d2-8182-400e728d7fc7",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "d5OcLyKmPNWl2tHU",
          "name": "Hugging Face account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2384,
        384
      ],
      "id": "2e7ea509-c7be-40fa-942f-50f9e4740415",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Ymqbx5hkDqnGNp1r",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1808,
        592
      ],
      "id": "ce581f18-41e1-42a0-ac36-881b2265fee8",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "Ymqbx5hkDqnGNp1r",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f37ce22e-38c7-491f-8791-db0ffa3d59c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21f59ba9c4e1279d53145fb3ff04089def2d0a139ced563bbc326faa8356c1f4"
  },
  "id": "IbRaTVKkeQFq91pX",
  "tags": []
}